/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Named */
  --white: whitesmoke;
  --red: crimson; /* orangered tomato */
  --green: mediumseagreen;
  --purple: mediumpurple; /* mediumorchid */
  --yellow: gold;
  --grey: silver;
  /* Utility */
  --light: lavender;
  --dark: midnightblue; /* darkslateblue */
  /* Semantic */
  --pen: var(--dark);
  --paper: var(--light);
  --highlight: var(--purple);
  --outline: plum; /* fuchsia */
  --error: var(--red);
  --outlineError: pink;
  --success: var(--green);
  --outlineSuccess: palegreen;

  --transition-duration: 0.2s;
}
@media (prefers-color-scheme: dark) {
  :root {
    --pen: var(--light);
    --paper: var(--dark);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0 solid var(--grey);
}
html {
  color-scheme: light dark;
}
body {
  font: 1.25rem/1.5 'Manrope', system-ui;
  color: var(--pen);
  background-color: var(--paper);
  background-size: 1600px 800px;
}
a {
  color: inherit;
  text-decoration: underline wavy;
}
input,
textarea,
select,
button,
::file-selector-button {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}
input,
textarea,
select,
button {
  border-width: .125rem;
  border-radius: .5rem;
  padding: .5rem;
  background-color: Field;
}
input,
textarea,
select {
  display: block;
  inline-size: 100%;
}
input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  position: relative;
  appearance: none;
  inline-size: 1em;
  block-size: 1em;
  margin: 0 .5em 0 0;
  border-width: .125rem;
  border-radius: .125em;
  vertical-align: middle;
  color: inherit;
  transition: box-shadow var(--transition-duration) ease;
}
input[type='radio'] {
  border-radius: 50%;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  box-shadow: inset 0 0 0 .25em var(--highlight);
}

fieldset {
  margin: 0;
  border-width: .125rem;
  border-radius: .5rem;
}
button,
[type="button"],
[type="submit"],
[type="reset"],
::file-selector-button {
  color: var(--paper);
  border-color: var(--pen);
  background-color: var(--pen);
}
:focus {
  outline: 3px solid var(--outline);
  outline-offset: 1px;
}
:disabled,
[aria-disabled="true"],
form:invalid :where(button:not([type]), button[type="submit"]) {
  cursor: not-allowed;
  opacity: 0.8;
}
[readonly] {
  border-style: dashed;
}
::file-selector-button {
  border: 0;
  border-radius: .24rem;
  padding-block: 0;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * SWITCH
 */
input[type="checkbox"].switch {
  appearance: none;
  display: inline-flex;
  align-items: center;
  width: 2.5em;
  height: 1.3em;
  border-radius: 10000px;
  padding: .125em;
  box-shadow: none;
}
input[type="checkbox"].switch:before {
  content: '';
  width: .9em;
  height: .9em;
  border: 1px solid;
  border-radius: 10000px;
  transition-duration: var(--transition-duration);
  transition-property: transform, background;
  transition-timing-function: ease;
}
input[type="checkbox"].switch:checked:before {
  background-color: var(--highlight);
  transform: translateX(1em);
}

dialog {
  padding: 0;
  border-radius: .5rem;
}
dialog::backdrop {
  background-color: rgb(0,0,0,0.2);
  backdrop-filter: blur(4px);
}

img,
figure,
iframe,
svg {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
svg {
  fill: currentColor;
  stroke: currentColor;
  stroke-width: 0;
}

::selection {
  color: lavender;
  background: var(--purple);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.rainbow {
  color: #fff;
  background: linear-gradient(45deg, #cc0000, #c8cc00, #38cc00, #00ccb5, #0015cc, #5f00cc, #c200cc, #cc0000);
  background-size: 1600% 1600%;
  animation: BgSlide 2s linear infinite;
}
@keyframes BgSlide {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}